@font-face {
  font-family: "segoeui";
  src: url("libs/segoeui/SegoeUI-Light.eot");
  src: local("Segoe UI Light"), local("SegoeUI-Light"),
    url("libs/segoeui/SegoeUI-Light.eot?#iefix") format("embedded-opentype"),
    url("lids/segoeui/SegoeUI-Light.woff") format("woff"),
    url("libs/segoeui/SegoeUI-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

a,
button {
  font-family: "segoeui";
}

a {
  text-decoration: none;
}

ul,
body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.bg-pink {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 590px;
}

/* Header Styles */

header {
  background: rgba(255, 255, 255, 0.87);
  padding: 20px 15px;
  box-shadow: 0 4px 1px #00000057;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  margin-right: 40px;
}

.header__nav {
  margin-left: auto;
}

.header__menu-link {
  display: block;
  padding: 10px 18px;
  color: #736e6e;
  font-weight: bold;
  font-size: 17px;
  opacity: 0.75;
}

.header__menu-link:hover {
  text-decoration: underline;
}

.header__menu-item:last-child .header__menu-link {
  padding-right: 0;
}

.header__login {
  border: none;
  background: #de6d6e;
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  transition: 0.5s;
}

.header__login:hover {
  background: #cf4646;
}

.header__login-icon {
  margin-right: 5px;
}

/* BANNER STYLES */

.banner {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 280px;
  margin-bottom: 85px;
}

.banner__main {
  font-size: 70px;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}

.banner__text {
  font-size: 25px;
  margin: 0;
  font-weight: normal;
}

/*MAIN CONTENT STYLES*/
/*banner styles*/
.banner-content {
  text-align: center;
}

.banner-content__main {
  margin: 0;
  padding: 65px 0 30px 0;
  font-size: 35px;
  font-weight: normal;
}

/*categories styles*/

.categories {
  margin-top: 85px;
}

.categories__nav {
  display: flex;
  justify-content: space-around;
}

.categories__link {
  display: flex;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  margin: 8px;
}

.categories__link_bg_blue {
  background: #4eb9f4;
}

.categories__link_bg_green {
  background: #6fc125;
}

.categories__link_bg_red {
  background: #ff5649;
}

.categories__link_bg_orange {
  background: #e48f23;
}

.categories__desk {
  display: none;
  width: 125px;
  height: 90px;
  font-size: 12px;
  position: absolute;
  text-align: center;
}

.categories__link:hover .categories__desk {
  display: block;
}

.categories__link:hover .categories__img,
.categories__link:hover .categories__title {
  opacity: 0.3;
  transition: 0.5s;
}

.categories__title {
  margin-top: 10px;
  display: block;
}

/*ARTICLE STYLES*/

.articles {
  margin-top: 95px;
  padding-left: 65px;
}

.article {
  display: flex;
  margin-bottom: 80px;
}

.article__block {
  padding-left: 25px;
}

.article__main {
  font-size: 27px;
  font-weight: normal;
  margin-bottom: 20px;
}

.article__desk {
  color: #8b8b8b;
}

/*FOOTER STYLES*/

.bg-footer {
  background: #282828;
  padding: 35px 15px;
}

.footer {
  display: flex;
  padding-left: 65px;
  flex-wrap: wrap;
}

.footer__menu-wrap {
  margin-right: 60px;
}

.footer__main {
  color: #aeaeae;
  font-weight: normal;
  margin-bottom: 20px;
}

.footer__link {
  color: #8b8b8b;
}

.footer__copyright {
  color: #7e7e7e;
}

.footer__menu {
  padding-left: 5px;
  line-height: 1.5;
}

.footer__social-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 25px 0;
}

.footer__social-link {
  color: #252825;
  width: 50px;
  height: 50px;
  background: #696b6a;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 33px;
  margin-right: 25px;
}

.footer__social-link:last-child {
  margin-right: 0;
}
